# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Webpack transpiled, minified content
dist

# Dependency directories
node_modules/

# package locks
package-lock.json

# Environment
.env

# Mac files
*.DS_Store
